@font-face {
    font-family: fav;
    src: url(./Fonts/MonumentExtended-Ultrabold.otf);
}

body{
    font-family: 'Inter Tight', sans-serif;
    margin: 0%;
    padding: 0%;
    background-color: #000;
    color: #fff;

}



header{
    background-color: #8959a8;
    color: #f4f1d0;
    padding: 6%;
    display: none;

}

header img{
    width: 50px;
}


img.title{
    width: 100% !important;
}

main p{
    font-size: 70px;
    line-height: 75px;
}


.vid,section{
    padding: 2% 8%;
}

.vid video{
    width: 100%;
}

.clg-logo{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.clg-logo img{
    width: 70px;
    height: 70px;
}

.clg-logo img.years{
    width: 40px;
    height: 50px;
    padding: 0%;
}

.btns{
    font-family: 'Inter Tight', sans-serif;
    text-align: center;
}

.btns a{
    color: #fff;
    text-decoration: none;
    padding: 12px 24px;
    margin: 8px;
    
}

.btns a.about-btn{
    border: 2px solid #3a439d;
    background-color: #3a439d;
    box-shadow: 0px 5px #242a68;
    transition: all .4s ease-in-out;
}

.btns a.about-btn:hover{
    background-color: #434ca8;
    border-color: #434ca8;
    box-shadow: 0px 2px #242a68;
    
}

.btns a.bus-btn{
    font-weight: 500;
    color: #000;
    background-color: #fff;
    border: 2px solid #fff;
    box-shadow: 0px 5px gray;
    transition: all .4s ease-in-out;
}

.btns a.bus-btn:hover{
    background-color: rgb(245, 245, 245);
    box-shadow: 0px 2px gray;
    
}


.events a{
    display: block;
    font-family: 'fav','Inter Tight', sans-serif;
    font-size: 60px;
    font-weight: 700;
    color: #fff;
    text-decoration: none;
    transition: all .2s ease-in-out;
}

.events a.pp:hover{
    color: #fa905f;
}

.events a.info:hover{
    color: #7CD87A;
}

.events a.memo:hover{
    color: #FCE04A;
}

.events a.fun:hover{
    color: #EF626E;
}

.events a.hld:hover{
    color: #5F97FA;
}



@media only screen and (max-width: 600px) {

    header{
        display: block;
    }

    main p{
        font-family: 'fav', 'Inter Tight', sans-serif;
        word-break: break-all;
    }
    
    .vid{
        display: none;        
    }

    section{
        padding: 2% 4%;
    }

    .events a{
        font-size: 40px;

    }
}