@font-face {
    font-family: fav;
    src: url(./Fonts/MonumentExtended-Ultrabold.otf);
}

body{
    font-family: fav, sans-serif;
    margin: 0%;
    padding: 0%;
    background-color: #000;

}

/* header{
    background-color: #8959a8;
    color: #f4f1d0;
    padding: 6%;

}

header img{
    width: 50px;
}

main{
    text-align: center;
}


img.title{
    width: 100% !important;
}

main p{
    font-size: 80px;
    text-align: center;
    line-height: 75px;
} */


.vid{
    padding: 2% 8%;
}

.vid video{
    width: 100%;
}

.clg-logo img{
    width: 70px;
    height: 70px;
}





@media only screen and (max-width: 600px) {
    
    main p{
        display: none;
    }

}